<form [formGroup]="firstOperandForm" novalidate>
  <table formArrayName="operands">
    <thead>
      <th>First operand</th>
    </thead>

    <tr [formGroupName]="i" *ngFor="let operandEl of firstOperandForm.controls.operands.controls; let i=index">
      <td>
        <input type="number" formControlName="operand">
      </td>
      <td>
        <button class="btn red" type="button"
          *ngIf="firstOperandForm.controls.operands.controls.length > 0" (click)="removeRow(i)">Delete</button>
      </td>

    </tr>
    <button class="btn green" type="button" (click)="addRow()">Add row</button>
  </table>

</form>
