<form [formGroup]="operatorForm" novalidate class="row">
  <table formArrayName="operators" class="col s12 m3">
    <!-- <thead>
      <tr>
          <th><button class="btn" type="button">Add col</button></th>
      </tr>
    </thead> -->

    <tr [formGroupName]="i"  *ngFor="let operatorEl of operatorForm.controls.operators.controls; let i=index">
      <td>
        <select formControlName="operator">
          <option value="/">/</option>
          <option value="*">*</option>
          <option value="-">-</option>
          <option value="+">+</option>
        </select>
      </td>
      <td>
        <button class="btn red" type="button"
          *ngIf="operatorForm.controls.operators.controls.length > 1" (click)="removeOperator(i)">Delete</button>
      </td>
    </tr>
    <button class="btn green" type="button" (click)="addOperator()">Add row</button>
  </table>

</form>
