<form [formGroup]="operatorForm" novalidate>
  <table formArrayName="operators">
    <thead>
      <th>Operator</th>
    </thead>

    <tr [formGroupName]="i"  *ngFor="let operatorEl of operatorForm.controls.operators.controls; let i=index">
      <td>
        <select formControlName="operator">
          <option value="/">/</option>
          <option value="*">*</option>
          <option value="-">-</option>
          <option value="+">+</option>
        </select>
      </td>
      <td>
        <button class="btn red" type="button"
          *ngIf="operatorForm.controls.operators.controls.length > 0" (click)="removeOperator(i)">Delete</button>
      </td>
    </tr>
    <button class="btn green" type="button" (click)="addOperator()">Add row</button>
  </table>

</form>
